@model CardShop.Models.Store
@{
    ViewBag.Title = "ManageStore";
}

<h2>Managing Store: @Model.Name</h2>

@using (Html.BeginForm("Admin", "ManageStore", FormMethod.Post, new { id = "storeForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.DiscountRate)
                @Html.TextBoxFor(m => m.DiscountRate)
            </li>
        </ol>
        <input type="button" id="submitDiscount" value="Update Store" />
        <div id="message"></div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery-validate")
    @Scripts.Render("~/Scripts/Admin/admin.js")
}