@model CardShop.Models.RuleSet

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>RuleSet</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MajorVersion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MajorVersion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinorVersion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinorVersion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RuleSet1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RuleSet1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AssemblyPath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AssemblyPath)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActivityName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActivityName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
