@model CardShop.ViewModels.RulesetDetails

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>
        @Model.ruleset.Name
    </h2>
    Version @Model.rulesetWrapper.MajorVersion.@Model.rulesetWrapper.MinorVersion
</div>

<div>
    <h2>Rules</h2>

    @foreach (var rule in Model.ruleset.Rules)
    {
        <div>
            <h3><b>@rule.Name</b></h3>

            <h5>Priority</h5>
            @rule.Priority

            <h5>Conditions</h5>
            @rule.Condition.ToString()
        
            <h5>Then Actions</h5>
            @foreach (var action in rule.ThenActions)
            {
                <text>@action</text><br />
            }
        
            <h5>Else Actions</h5>
            @foreach (var action in rule.ElseActions)
            {
                <text>@action</text><br />
            }
        </div>
    }
</div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rulesetWrapper.AssemblyPath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rulesetWrapper.AssemblyPath)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rulesetWrapper.ActivityName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rulesetWrapper.ActivityName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rulesetWrapper.ModifiedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rulesetWrapper.ModifiedDate)
    </div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.rulesetWrapper.RuleSetId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
