@using System.Workflow.Activities.Rules
@model CardShop.ViewModels.RulesetDetails

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("CompileRules", "Rule", FormMethod.Post, new { id = "form" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RuleSet</legend>

        @Html.HiddenFor(model => model.rulesetWrapper.RuleSetId)
        @Html.HiddenFor(model => model.rulesetWrapper.RuleSet1)

        <div class="editor-label">
            @Html.LabelFor(model => model.rulesetWrapper.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rulesetWrapper.Name)
            @Html.ValidationMessageFor(model => model.rulesetWrapper.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rulesetWrapper.MajorVersion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rulesetWrapper.MajorVersion)
            @Html.ValidationMessageFor(model => model.rulesetWrapper.MajorVersion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rulesetWrapper.MinorVersion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rulesetWrapper.MinorVersion)
            @Html.ValidationMessageFor(model => model.rulesetWrapper.MinorVersion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rulesetWrapper.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rulesetWrapper.Status)
            @Html.ValidationMessageFor(model => model.rulesetWrapper.Status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rulesetWrapper.AssemblyPath)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rulesetWrapper.AssemblyPath)
            @Html.ValidationMessageFor(model => model.rulesetWrapper.AssemblyPath)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rulesetWrapper.ActivityName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rulesetWrapper.ActivityName)
            @Html.ValidationMessageFor(model => model.rulesetWrapper.ActivityName)
        </div>

        <div>
            <h4>Rules</h4>
            @foreach (var rule in Model.rulesDisplay)
            {
                <div class="rule">
                    Name: <input type="text" class="name" value="@rule.Name" />

                    <p>If Condition</p>
                    <div class="ifCondition">
                        Field: 
                        <input type="text" class="field" value="@rule.Condition.field"/><br />
                        @*<select>
                            <option value="">Is Equal To</option>
                            <option value="">Is Less Than</option>
                            <option value="">Is Less Than Or Equal To</option>
                            <option value="">Is Greater Than</option>
                            <option value="">Is Greater Than Or Equal To</option>
                        </select>*@
                        Value: 
                        <input type="text" class="value" value="@rule.Condition.value"/>
                    </div>

                    <p>Then Actions</p>
                    <div class="thenActions">
                        @if (rule.ThenActions != null)
                        {
                            foreach (var action in rule.ThenActions)
                            {
                            <div class="thenAction">
                                Field:
                                <input type="text" class="field" value="@action.field"/><br />
                                Value:
                                <input type="text" class="value" value="@action.value"/><br />
                                <input type="button" value="Remove" class="remove" />
                            </div>
                            }
                        }
                        <input type='button' value='Add Action' class='addThen'>
                    </div>

                    <p>Else Actions</p>
                    <div class="elseActions">
                        @if (rule.ElseActions != null)
                        {
                            foreach (var action in rule.ElseActions)
                            {
                            <div class="elseAction">
                                Field:
                                <input type="text" class="field" value="@action.field"/><br />
                                Value:
                                <input type="text" class="value" value="@action.value"/><br />
                                <input type="button" value="Remove" class="remove" />
                            </div>
                            }
                        }
                        <input type='button' value='Add Action' class='addElse'>
                    </div>
                </div>
            }
        </div>

        <input type="button" id="newRule" value="Add Rule"/>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.edit-rules.js")
}