@model IEnumerable<CardShop.Models.RuleSet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Version
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AssemblyPath)
        </th>
        <th>
            Workflow
        </th>*@
        <th>
            Last Modified
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id=item.RuleSetId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MajorVersion).
            @Html.DisplayFor(modelItem => item.MinorVersion)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.AssemblyPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RuleSetId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RuleSetId })
        </td>
    </tr>
}

</table>
