@model CardShop.Models.PasswordReset

@{
    ViewBag.Title = "PasswordReset";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="PasswordResetForm">
<p>Please enter your user name to reset your password.</p>
@using (Html.BeginForm("PasswordToken", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Password Reset Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
        </ol>
        <input type="submit" value="Continue..." />
    </fieldset>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
