@{
    ViewBag.Title = "PasswordResetFinal";
}
@model CardShop.Models.PasswordReset

<h3>Password Reset Form</h3>

@using (Html.BeginForm("PasswordUpdate", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Reset Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.HiddenFor(m => m.ResetToken)
            </li>
        </ol>
        <input type="submit" value="Reset Password" />
    </fieldset>
}
