@model CardShop.Models.UserDiscount

@{
    ViewBag.Title = "Redeem Coupon";
}

<h2>Redeem</h2>
@using (@Html.BeginForm("Redeem", "Redemption", FormMethod.Post, new { id = "redeemForm" }))//action,controller,formMethod,
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <!-- drop down list -->
    <fieldset>
        <legend></legend>
       
        
        @Html.DropDownListFor(m => m.UserId, new SelectList(ViewBag.listOfUsers, "UserId", "Username"))

        <br/>
        @Html.LabelFor(m => m.DiscountCode)
        @Html.TextBoxFor(m => m.DiscountCode)
        <br/>
        <input type="button" id ="redeemCoupon" value="Redeem Coupon" />
        <p id ="couponResult">Transaction Pending</p>

    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery-validate")

    
<script type ="text/javascript">
 $(document).ready(function () {

     $("#couponResult").html("Transaction Pending");    // reset text
     $("#couponResult").css('color', 'black');
     $("#DiscountCode").val("");

     function checkCoupon() {

         if ($("#DiscountCode").valid()) {// there are currently no constraints on UserDiscount.DiscountCode

             $.post("RedeemDiscount",
             {
                 userId: $("#UserId").val(),
                 couponCode: $("#DiscountCode").val(),

             },
             function (coupon, status) {
                 
                 if (coupon.Error) {  //  there was an error

                     $("#couponResult").css('color', 'red');
                     $("#couponResult").html(
                     "There was an error: " + coupon.Error);

                 } else {

                     $("#couponResult").css('color', 'green');
                     $("#couponResult").html(
                     "Coupon has been redeemed for " + coupon.DiscountRate + "%");
                 }

             });
         }
     };


     $("#redeemCoupon").click(function () {
            checkCoupon();
        });

 });

</script>


}