@model CardShop.Models.StoreInventory

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>StoreInventory</legend>

        @Html.HiddenFor(model => model.StoreInventoryId)

        <div class="editor-label">
            @Html.LabelFor(model => model.BaseballCardId, "BaseballCard")
        </div>
        <div class="editor-field">
            @Html.DropDownList("BaseballCardId", String.Empty)
            @Html.ValidationMessageFor(model => model.BaseballCardId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StoreId, "Store")
        </div>
        <div class="editor-field">
            @Html.DropDownList("StoreId", String.Empty)
            @Html.ValidationMessageFor(model => model.StoreId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
