@model CardShop.Models.UserDiscountMetaData

@{
    ViewBag.Title = "Issue A Discount";
}




<style>
    input
        {
        width:100px;
        }
</style>

<h2>Issue A Discount</h2>
@using (@Html.BeginForm("", "", FormMethod.Post, new { id = "discountForm" }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <!-- drop down list -->
    <fieldset>
        <select style="font-size:12pt" name="UserId" id ="UserId">
            @{foreach (var user in ViewBag.listOfUsers)
              {
                    <option value="@user.UserId ">@user.Username</option>
              }
            }
        </select>

        <br/>

            @Html.LabelFor(m => m.StartDate)
            @Html.TextBoxFor(m => m.StartDate)
 
            @Html.LabelFor(m => m.EndDate)
            @Html.TextBoxFor(m => m.EndDate)

            @Html.LabelFor(m => m.DiscountRate)
            @Html.TextBoxFor(m => m.DiscountRate)%
        <br />
        <input type="submit" id ="submitButton" value="Submit" />
    </fieldset>
    <p id ="couponCode">Coupon Code Not Issued</p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery-validate")

    
<script type ="text/javascript">
    (function($){
        $.validator.addMethod("supervalidation", function (value, element, param) {
            console.log("ssss");
            var result = false;
            var startdate = (new Date($('#StartDate').val()));
            var enddate = (new Date($('#EndDate').val()));
            if (startdate != new Date("") && enddate != new Date("")) {
                if (enddate.getTime() > startdate.getTime()) {
                    result = true;
                }
            }
            return result;
        });

        $.validator.unobtrusive.adapters.addBool("supervalidation");
    })(jQuery);
    $.validator.unobtrusive.adapters.add("supervalidation", [], function (options) {
        options.rules['supervalidation'] = true;
        options.messages["wrongvalue"] = options.message;
    });
    console.log("asdsdsdd");
//    $.validator.unobtrusive.parse();
</script>
<script>
    $(document).ready(function () {

        // on button click, submit form
        //  as ajax request and display 

        //  returned coupon code
        /*$("#submitButton").click(function () {
     
            if ($("#discountForm").validate()) {

                $.post("IssueDiscount",
                     jsonForm,
                     function (data) {

                         //  displayed name
                         var displayName = $("#UserId").text();

                         //  display coupon code and message here
                         $("#couponCode").html("Coupon Code " + data.DiscountCode
                             + " has been issued to " + displayName);

                         // make text green per Nate
                         $("#couponCode").css('color', 'green');

                     },
                     "json");
            }
       
        });*/

        $("#StartDate").datepicker();
        $("#EndDate").datepicker();
    });

</script>


}
