@model CardShop.Models.UserDiscount

@{
    ViewBag.Title = "Issue A Discount";
}




<style>
    input
        {
        width:100px;
        }
</style>

<script>
    $(document).ready(function () {

        // on button click, submit form
        //  as ajax request and display 
        //  returned coupon code
        $("#submitButton").click(function () {
     
            if ($("#theForm").validate()) {

                $.post("IssueDiscount",
                     jsonForm,
                     function (data) {

                         //  displayed name
                         var displayName = $("#UserId").text();

                         //  display coupon code and message here
                         $("#couponCode").html("Coupon Code " + data.DiscountCode
                             + " has been issued to " + displayName);

                         // make text green per Nate
                         $("#couponCode").css('color', 'green');

                     },
                     "json");
            }
       
        });

        $(function () {
            $("#StartDate").datepicker();
            $("#EndDate").datepicker();
        });

    });

</script>

<h2>Issue A Discount</h2>
@Html.ValidationSummary()
<form id ="theForm">
@Html.AntiForgeryToken()
    <!-- drop down list -->
    <select style="font-size:12pt" name="UserId" id ="UserId">
        @{foreach (var user in ViewBag.listOfUsers)
            {
                <option value="@user.UserId ">@user.Username</option>
            }
        }
    </select>

    <br/>

        @Html.LabelFor(m => m.StartDate)
        @Html.TextBoxFor(m => m.StartDate)
 
        @Html.LabelFor(m => m.EndDate)
        @Html.TextBoxFor(m => m.EndDate)

        @Html.LabelFor(m => m.DiscountRate)
        @Html.TextBoxFor(m => m.DiscountRate)%
    <br />
    <button type="button" id ="submitButton">Submit</button> 
    <p id ="couponCode">Coupon Code Not Issued</p>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jquery-validate")

    
<script type ="text/javascript">
    jQuery.validator.addMethod("comparator", function (value, element, param) {
        var startdate = (new Date( $('#StartDate').val())).getTime();
        var enddate = (new Date($('#EndDate').val())).getTime();
        if (startdate == '' || enddate == '' || startdate >= enddate)
            return false;
        else
            return true;
    });

    jQuery.validator.unobtrusive.adapters.addBool("comparator");

</script>
}
